/*special*/
@media (min-width: 0px) and (max-width: 342px)
{
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 112%;
    }

    /*review strat*/
    #review
    {
        background-position: left top;
        min-height: 552px;
    }
    #review .re-move
    {
        padding: 50px 0;
    }
    #review .review-bg
    {
        padding: 40px 24px;
    }
    #review h2
    {
        font-size: 26px;
    }
    #review .re-divider
    {
        padding: 7px 0 18px;
    }
    #review p
    {
        font-size: 15px;
        line-height: 21px;
    }
    #review h6
    {
        font-size: 12px;
        padding-top: 7px;
    }
    #review .dbl-q
    {
        position: absolute;
        left: 5%;
        top: 31%;
        max-width: 6%;
    }
    /*review end*/
}
@media (min-width: 343px) and (max-width: 400px)
{
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 110%;
    }

    /*review strat*/
    #review
    {
        background-position: left top;
        min-height: 489px;
    }
    #review .re-move
    {
        padding: 50px 0;
    }
    #review .review-bg
    {
        padding: 40px 24px;
    }
    #review h2
    {
        font-size: 26px;
    }
    #review .re-divider
    {
        padding: 7px 0 18px;
    }
    #review p
    {
        font-size: 15px;
        line-height: 21px;
    }
    #review h6
    {
        font-size: 12px;
        padding-top: 7px;
    }
    #review .dbl-q
    {
        left: 5%;
        top: 33%;
        max-width: 6%;
    }
    /*review end*/
}
@media (min-width: 401px) and (max-width: 498px)
{
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 108%;
    }

    /*review strat*/
    #review
    {
        background-position: left top;
        min-height: 447px;
    }
    #review .re-move
    {
        padding: 50px 0;
    }
    #review .review-bg
    {
        padding: 40px 24px;
    }
    #review h2
    {
        font-size: 26px;
    }
    #review .re-divider
    {
        padding: 7px 0 18px;
    }
    #review p
    {
        font-size: 15px;
        line-height: 21px;
    }
    #review h6
    {
        font-size: 12px;
        padding-top: 7px;
    }
    #review .dbl-q
    {
        left: 4%;
        top: 39%;
        max-width: 5%;
    }
    /*review end*/
}
@media (min-width: 499px) and (max-width: 558px)
{
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 107%;
    }

    /*review strat*/
    #review
    {
        background-position: left top;
        min-height: 426px;
    }
    #review .re-move
    {
        padding: 50px 0;
    }
    #review .review-bg
    {
        padding: 40px 24px;
    }
    #review h2
    {
        font-size: 26px;
    }
    #review .re-divider
    {
        padding: 7px 0 18px;
    }
    #review p
    {
        font-size: 15px;
        line-height: 21px;
    }
    #review h6
    {
        font-size: 12px;
        padding-top: 7px;
    }
    #review .dbl-q
    {
        left: 3%;
        top: 42%;
        max-width: 4%;
    }
    /*review end*/
}
@media (min-width: 559px) and (max-width: 576px)
{
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 106%;
    }

    /*review strat*/
    #review
    {
        background-position: left top;
        min-height: 426px;
    }
    #review .re-move
    {
        padding: 50px 0;
    }
    #review .review-bg
    {
        padding: 40px 24px;
    }
    #review h2
    {
        font-size: 26px;
    }
    #review .re-divider
    {
        padding: 7px 0 18px;
    }
    #review p
    {
        font-size: 15px;
        line-height: 21px;
    }
    #review h6
    {
        font-size: 12px;
        padding-top: 7px;
    }
    #review .dbl-q
    {
        left: 3%;
        top: 42%;
        max-width: 4%;
    }
    /*review end*/
}
/*special*/
/* start small than sm */
@media (max-width: 575px)
{
    #banner .ban-img .img-fluid,#about .abt-divider .img-fluid,#ingr .ingr-divider .img-fluid,#menu .menu-divider .img-fluid,#review .re-divider .img-fluid,#book .book-divider .img-fluid,footer .foot-div .img-fluid
    {
        max-width: 55%;
    }
    /*    nav start*/
    header .navbar
    {
        position: static;
        background-color: #e7b723;
    }
    header nav .nav-link
    {
        /*        color: #e7b723 !important;*/
        font-size: 17px;
        margin: 0 0px;
        text-align: center;
    }
    header nav .nav-item
    {   
        border-top: 0px solid transparent;
        padding: 0px 0;
    }
    header nav .nav-item:hover
    {
        border-top: 0px solid white;
    }
    header nav .nav-link:hover
    {
        transform: scale(1.2);
        /*        transform: translateY(-10px);*/
    }
    header nav .d-flex a
    {
        color: white;
        font-size: 19px;
    }
    header nav .d-flex a:first-child
    {
        padding-left: 0;
    }
    header nav .img-fluid
    {
        max-width: 70% !important;
    }
    /*    nav end*/

    /*    banner start*/
    #banner
    {
        min-height: 580px;
    }
    #banner .banner-text
    {
        padding-top: 150px;
    }
    #banner .banner-text h1
    {
        margin-bottom: 30px;
        font-size: 35px;
    }
    #banner .banner-text .ban-img
    {
        margin-bottom: 45px;
    }
    #banner .banner-text .btn
    {
        font-size: 12px;
        width: 120px;
        height: 38px;
        padding: 9px;
    }
    #banner .banner-text a:nth-child(3)
    {
        margin-right: 5px;
    }
    #banner .banner-text a:last-child
    {
        margin-left: 5px;
    }
    /*    banner end*/
    /*about start*/
    #about .row 
    {
        padding: 50px 0 40px;
    }
    #about .abt-text h2
    {
        font-size: 25px;
    }
    #about .abt-text .abt-divider
    {
        padding: 7px 0 22px;
    }
    #about .abt-text p
    {
        font-size: 13px;
        padding-bottom: 10px;
    }
    #about .abt-text .abt-cook .img-fluid
    {
        max-width: 40%;
        margin-left: 50px;
    }
    #about .abt-food-img
    {
        text-align: center;
    }
    #about .abt-food-img .img-fluid
    {
        max-width: 85%;
    }
    /*about end*/

    /*ingredients start*/
    #ingr
    {
        min-height: 530px;
    }
    #ingr .ingr-bg
    {
        padding: 50px 0;
    }
    #ingr .ingr-move
    {
        padding: 50px 0;
    }
    #ingr .ingr-content h2
    {
        font-size: 25px;
    }
    #ingr .ingr-content p
    {
        font-size: 13px;
        padding-bottom: 30px;
    }
    /*ingredients end*/
    /*    menu start*/
    #menu h3
    {
        font-size: 28px;
    }
    #menu h5
    {
        font-size: 16px;
    }
    #menu p
    {
        font-size: 12px;
    }
    #menu .menu-move
    {
        padding: 60px 0 40px;;
    }
    /*    menu end*/
    /*book start*/
    #book .book-move
    {
        padding: 40px 0;
    }
    #book .book-por h2
    {
        font-size: 32px;
    }
    #book .book-por .book-divider
    {
        padding: 4px 0 22px;
    }
    #book .book-por p
    {
        font-size: 13px;
        line-height: 24px;
    }
    #book .book-por .btn
    {
        width: 170px;
        margin-top: 13px;
        padding: 4px;
    }
    /*book end*/
    /*    footer start*/
    footer .foot-2 .d-flex
    {
        margin-top: 15px;
    }
    footer .foot-3 .d-flex
    {
        margin-top: 23px;
    }
    footer .foot-2 p,footer .foot-2 p span
    {
        font-size: 16px;
    }
    footer .foot-3 h5
    {
        font-size: 16px;
    }
    /*    footer end*/
}
/* end small than sm */

/* start sm */
@media (min-width: 576px) and (max-width: 767px)
{
    /*    nav start*/
    header .navbar
    {
        position: static;
        background-color: #e7b723;
    }
    header nav .nav-link
    {
        font-size: 19px;
        margin: 0 0px;
        text-align: center;
    }
    header nav .nav-item
    {   
        border-top: 0px solid transparent;
        padding: 0px 0;
    }
    header nav .nav-item:hover
    {
        border-top: 0px solid white;
    }
    header nav .nav-link:hover
    {
        transform: scale(1.2);
        /*        transform: translateY(-10px);*/
    }
    header nav .d-flex a:first-child
    {
        padding-left: 0;
    }
    header nav .d-flex a
    {
        color: white;
    }
    header nav .img-fluid
    {
        max-width: 80% !important;
    }
    /*    nav end*/

    /*    banner start*/
    #banner
    {
        min-height: 630px;
    }
    #banner .banner-text
    {
        padding-top: 170px;
    }
    #banner .banner-text h1
    {
        margin-bottom: 30px;
        font-size: 47px;
    }
    #banner .banner-text .ban-img
    {
        margin-bottom: 45px;
    }
    #banner .banner-text .btn
    {
        font-size: 16px;
        width: 180px;
        height: 45px;
        padding: 10px;
    }
    #banner .banner-text a:nth-child(3)
    {
        margin-right: 10px;
    }
    #banner .banner-text a:last-child
    {
        margin-left: 10px;
    }
    /*    banner end*/
    /*about start*/
    #about .row 
    {
        padding: 70px 0 40px;
    }
    #about .abt-text h2
    {
        font-size: 32px;
    }
    #about .abt-text .abt-divider
    {
        padding: 7px 0 27px;
    }
    #about .abt-text p
    {
        font-size: 14px;
        padding-bottom: 12px;
    }
    #about .abt-text .abt-cook .img-fluid
    {
        max-width: 22%;
        margin-left: 43px;
    }
    #about .abt-food-img
    {
        text-align: center;
    }
    #about .abt-food-img .img-fluid
    {
        max-width: 85%;
    }
    /*about end*/
    /*    menu start*/
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 107%;
    }
    #menu h3
    {
        font-size: 32px;
    }
    #menu h5
    {
        font-size: 17px;
    }
    #menu p
    {
        font-size: 13px;
    }
    #menu .menu-move
    {
        padding: 70px 0 50px;;
    }
    /*    menu end*/
    /*review strat*/
    #review
    {
        min-height: 596px;
    }
    #review .re-move
    {
        padding: 60px 0;
    }
    #review .review-bg
    {
        padding: 50px 40px;
    }
    #review h2
    {
        font-size: 30px;
    }
    #review .re-divider
    {
        padding: 10px 0 25px;
    }
    #review p
    {
        font-size: 18px;
        line-height: 30px;
    }
    #review h6
    {
        font-size: 15px;
        padding-top: 12px;
    }
    #review .dbl-q
    {
        position: absolute;
        left: 4%;
        top: 34%;
        max-width: 5%;
    }
    /*review end*/
    /*book start*/
    #book .book-move
    {
        padding: 70px 0;
    }
    /*book end*/
}
/* end sm */

/* start md */
@media (min-width: 768px) and (max-width: 991px)
{
    /*    nav start*/
    header .navbar
    {
        position: static;
        background-color: #e7b723;
    }
    header nav .nav-link
    {
        margin: 0 0px;
        text-align: center;
    }
    header nav .nav-item
    {   
        border-top: 0px solid transparent;
        padding: 0px 0;
    }
    header nav .nav-item:hover
    {
        border-top: 0px solid white;
    }
    header nav .nav-link:hover
    {
        transform: scale(1.2);
        /*        transform: translateY(-10px);*/
    }
    header nav .d-flex a:first-child
    {
        padding-left: 0;
    }
    header nav .img-fluid
    {
        max-width: 80% !important;
    }
    /*    nav end*/

    /*    banner start*/
    #banner
    {
        min-height: 680px;
    }
    #banner .banner-text
    {
        padding-top: 190px;
    }
    #banner .banner-text h1
    {
        font-size: 64px;
    }
    #banner .banner-text .btn
    {
        font-size: 17px;
        width: 190px;
        height: 48px;
        padding: 11px;
    }
    #banner .banner-text a:nth-child(3)
    {
        margin-right: 10px;
    }
    #banner .banner-text a:last-child
    {
        margin-left: 10px;
    }
    header nav .d-flex a
    {
        color: white;
    }
    /*    banner end*/
    /*about start*/
    #about .row 
    {
        padding: 70px 0 40px;
    }
    #about .abt-text h2
    {
        font-size: 34px;
    }
    #about .abt-text .abt-divider
    {
        padding: 7px 0 27px;
    }
    #about .abt-text p
    {
        font-size: 15px;
        padding-bottom: 27px;
    }
    #about .abt-text .abt-cook .img-fluid
    {
        max-width: 25%;
        margin-left: 75px;
    }
    #about .abt-food-img
    {
        text-align: center;
    }
    #about .abt-food-img .img-fluid
    {
        max-width: 75%;
    }
    /*about end*/
    /*    menu start*/
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 105%;
    }
    /*    menu end*/
    /*review strat*/

    #review .re-move
    {
        padding: 70px 0;
    }
    #review h2
    {
        color: #fff;
    }
    #review .review-bg
    {
        padding: 60px 50px;
    }
    #review h2
    {
        font-size: 32px;
    }
    #review .re-divider
    {
        padding: 10px 0 25px;
    }
    #review p
    {
        font-size: 22px;
        line-height: 34px;
    }
    #review h6
    {
        font-size: 16px;
        padding-top: 12px;
    }
    #review .dbl-q
    {
        position: absolute;
        left: 4%;
        top: 35%;
        max-width: 5%;
    }
    /*review end*/
}
/* end md */

/* start lg */
@media (min-width: 992px) and (max-width: 1199px)
{
    /*    nav start*/
    header .navbar 
    {
        padding-top: 0 !important;
    }
    header nav .nav-link
    {
        font-size: 19px;
        margin: 0 10px;
    }
    header nav .d-flex a
    {
        font-size: 19px;
    }
    header nav .nav-item
    {
        padding: 27px 0;
    }
    /*    nav end*/
    /*    banner start*/
    #banner
    {
        min-height: 720px;
    }
    #banner .banner-text
    {
        padding-top: 220px;
    }
    #banner .banner-text h1
    {
        font-size: 75px;
    }
    #banner .banner-text .btn
    {
        width: 200px;
        height: 53px;
        padding: 13px;

    }
    /*    banner end*/
    /*about start*/
    #about
    {
        min-height: 560px;
    }
    #about .row 
    {
        padding: 60px 0 40px;
    }
    #about .abt-text h2
    {
        font-size: 34px;
    }
    #about .abt-text .abt-divider
    {
        padding: 7px 0 27px;
    }
    #about .abt-text p
    {
        font-size: 15px;
        padding-bottom: 27px;
    }
    /*about end*/
    /*    ingr start*/
    #ingr .d-flex .img-fluid
    {
        max-width: 85%;
    }
    /*    ingr end*/
    /*    menu start*/
    #menu .menu-two .bor-box,#menu .bor-box1
    {
        width: 110%;
    }
    #menu h3
    {
        font-size: 35px;
    }
    #menu h5
    {
        font-size: 18px;
    }
    #menu p
    {
        font-size: 12px;
    }
    /*    menu end*/
    /*review strat*/
    #review p
    {
        line-height: 34px;
        font-size: 24px;
    }
    #review h6
    {
        font-size: 17px;
    }
    #review .dbl-q
    {
        left: 4%;
        top: 35%;
    }
    /*review end*/
    /*    book start*/
    #book .lg-img,#book .lg-img1,#book .lg-img2
    {
        height: 100%;
    }
    /*    book end*/
    /*book start*/
    #book .book-move
    {
        padding: 85px 0;
    }
    /*book end*/
    /*    footer start*/
    footer .foot-2 p,footer .foot-2 p span
    {
        font-size: 16px;
    }
    footer .foot-3 h5
    {
        font-size: 16px;
    }
    /*    footer end*/
}
/* end lg */

/* start xl */
@media (min-width: 1200px)
{
    /*    nav start*/
    header .navbar
    {
        padding-top: 0 !important;
    }
    /*    nav end*/
    /*    ingr start*/
    #ingr .d-flex .img-fluid
    {
        max-width: 100%;
    }
    /*    ingr end*/
}
/* end xl */

/*media query end*/